// Please use this to custom your stylesheet
@font-face {
	font-family: "Inter";
	src: url("{{ static_url("fonts/Inter/Inter-VariableFont_slnt,wght.ttf") }}") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter-Bold";
	src: url("{{ static_url("fonts/Inter/static/Inter-Bold.ttf") }}") format("truetype");
}

